<meta name="viewport" content="width=device-width, initial-scale=1.0">
body {
    margin: 60px auto;
    width: 70%;
    font-size:100%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #069;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.2vw;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.9vw;
    line-height: 1.5vw;
    color: #469;
    margin-left:1%;
}
p {
    font-size: 1.5vw;
    line-height: 1.5vw;
    color: #339;
    margin-left:3%;
}
#grad1 {
    height: 2vw;
    background-color: #119;
    background-image: linear-gradient(to right, white, #119);
}

footer {
    border-top: 1px solid #555;
    font-size: 1vw;
}

nav {
    border-bottom: 1px solid #555;
    font-size: 1.3vw;
}

/ul.posts { 
/    margin: 20px auto 40px; 
/   font-size: 3vw;
/}

/ul.posts li {
/    list-style: none;
/}
