<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Questions">Questions</a></li>
				<li><a href="/Publications">Publication</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nicolas.gervasi@inserm.fr">nicolas.gervasi@inserm.fr</a></li>
	        		<li><a href="https://github.com/nicolasgervasi">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
